<ng-container *ngIf="suggestions$ | async as charList">
  <h4 class="marvel-characters">MARVEL CHARACTERS LIST</h4>
  <div class="character-table-menu">
    <div class="search-box">
      <span>
        <img class="search-icon" src="../../../assets/icons/search.svg"
      /></span>
      <p-autoComplete
        [suggestions]="charList"
        (completeMethod)="search($event)"
        [minLength]="3"
        [delay]="1000"
        field="name"
        (onSelect)="selectedValue($event)"
        [lazy]="true"
        placeholder="SEARCH"
      ></p-autoComplete>
    </div>
    <div class="sort-box">
      <h5>SORT BY</h5>
      <p-selectButton
        [options]="options"
        (onChange)="orderChange($event)"
      ></p-selectButton>
    </div>
  </div>
  <div class="character-container">
    <div *ngFor="let character of charList">
      <app-card-detail
        class="char-card"
        [routerLink]="['./detail', character.id]"
        [character]="character"
      ></app-card-detail>
    </div>
  </div>
</ng-container>
<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="0"
  [rows]="limit"
  [totalRecords]="currentQueryResult.total"
></p-paginator>
