.marvel-characters{
  padding: 1em;
}

.character-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.character-table-menu{
  display: flex;
  flex-direction: column;
}

.search-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

  .sort-box{
  display: flex;
  flex-flow: column wrap;
  justify-content:flex-end;
  padding: 1em;
}


.char-card{
  padding: 0.88em;
  cursor: pointer;
}
