<div class="login-content">
  <form class="form-login" [formGroup]="loginForm" (ngSubmit)="login()">
    <h3 class="login-title text-center">Welcome</h3>
    <div class="form-content">
      <label class="label-login" for="public_key">Public Key</label>
      <input
        class="input-login"
        formControlName="public_key"
        id="public_key"
        type="password"
      />
      <label class="label-login" for="private_key">Private Key</label>
      <input
        class="input-login"
        formControlName="private_key"
        id="private_key"
        type="password"
      />
    </div>
    <div class="login-content-button">
      <button type="submit" class="button-login">Login</button>
    </div>
  </form>
</div>
