.comic-form{
  display: flex;
  flex-direction: row;
}

.comic-detail-title{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding-top: 1em;
  margin-left: 1em;
}

.comic-form{
  display: flex;
  margin-bottom: 1em;
}

.comic-img-detail{
  max-width: 20vw;
  min-width: 20vw;
  height: auto;
  padding: 2em;
}

.form-detail-comic{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.go-back{
  background-color: #ed1d24;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
}

.go-back:hover {
  background-color: #000;
  color: #fff;
}

.button-back{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
}

@media (max-width: 767px) {
  .comic-form{
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  .comic-img-detail {
    max-width: 80vw;
    min-width: 20vw;
    height: auto;
    padding: 2em;
  }

  .form-detail-comic {
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }
}

