<div *ngIf="characterData" class="char-detail-card">
  <img
    class="character-img"
    title="Character"
    src="{{ characterData.thumbnail.path }}.{{
      characterData.thumbnail.extension
    }}"
  />
  <form [formGroup]="charForm" class="form-style">
    <mat-form-field class="character-name">
      <mat-label for="name">Character Name</mat-label>
      <input
        matInput
        class="form-input"
        readonly="{{ disabled }}"
        placeholder="Name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field
      class="character-description"
      *ngIf="characterData.description"
    >
      <mat-label class="form-label" for="description">Description</mat-label>
      <textarea
        class="text-description"
        title="Descriptions"
        matInput
        cdkTextareaAutosize
        readonly="{{ disabled }}"
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="12"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div class="button-back">
  <button class="go-back" (click)="goBack()">Go Back</button>
</div>
