
.marvel-comic-cards{
    margin-top: 20px;
    margin:0 60px;
}

.marvel-cards{
    padding: 0px;
    margin: 0px;
}

#load-more-button {
    background-color: #ed1d24;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  }

  #load-more-button:hover {
    background-color: #000;
    color: #fff;
  }

  .button-div{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.button-more-info-c{
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
}

.button-more-info-c:hover{
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7));
  color:  #fff;
  transition: 0.3s ease;
}

.button-more-info-c:active{
  background: linear-gradient(135deg,rgba(0, 0, 0, 0.7));
  color: #fff;
  transition: 0.3s ease;
}

.new-releases-title, .digital-title{
  padding: 1em;
  font-size: 2em;
}
