<app-carousel></app-carousel>

<div>
  <h1>APRIL 25: NEW RELEASES</h1>
  <div
    class="marvel-comic-cards row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2"
  >
    <div *ngFor="let comic of comics" class="col">
      <app-comic-card [comics]="comic"></app-comic-card>
    </div>
  </div>
  <div class="button-div">
    <button
      type="button"
      id="load-more-button"
      *ngIf="showLoadMoreButton"
      (click)="loadNext7DigitalComics()"
    >
      Load more
    </button>
  </div>
</div>

<div>
  <h1>BEST DIGITAL SELLING COMICS</h1>
  <div *ngFor="let comic of digitalComics" class="col">
    <app-comic-card [digitalComics]="comic"></app-comic-card>
  </div>
</div>
