@import '/src/styles.scss';

@mixin flex-centered($justifyContent: center) {
  display: flex;
  justify-content: $justifyContent;
  flex-flow: row wrap;
}

.floating-main-container {
  display: flex;
  background-color: white;
  border: solid 2px blue;
  flex-flow: column nowrap;
  z-index: $zindex-modal;
}

.floating-header {
  @include flex-centered(space-evenly);
}

.floating-body {
  @include flex-centered(space-evenly);
}

.floating-footer {
  @include flex-centered(space-evenly);
}
