  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .marvel-footer {
    background-color: #191919;
    color: #fff;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
  }


  
  .logo-marvel-footer {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .marvel-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .marvel-footer ul li {
    margin-bottom: 10px;
  }
  
  .marvel-footer ul li a {
    color: #fff;
  }
  
  .marvel-footer ul li a:hover {
    text-decoration: underline;
  }
  
   .marvel-insider-logo{
    width: 54.36px;
  }

  .marvel-unlimited-logo{
    width: 54.36px; 
    margin-top: 20px;
  }

  .marvel-list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  
  .marvel-item {
    margin-bottom: 5px;
  }
  
  .marvel-description {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .marvel-footer-legal {
    color: #fff;
    font-size: 12px;
    padding: 10px;
  }
  .marvel-footer-legal .p-grid {
    justify-content: center;
  }
  
  .marvel-footer-legal ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .marvel-footer-legal ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .marvel-footer-legal ul li:last-child {
    margin-right: 0;
  }
  
  .marvel-footer-legal p {
    margin: 0;
  }
  
  .footer-social-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-social-icons a i {
    font-size: 24px;
    color: #fff;
  }
  
  .footer-social-icons a:hover i {
    opacity: 0.8;
  }