<footer class="marvel-footer">
  <div class="marvel-footer-links p-grid flex-row">
    <div class="p-col-12 p-md-4">
      <img
        src="../../../../assets/images/M-marvel.png"
        alt="marvel logo"
        class="logo-marvel-footer"
      />
    </div>
    <div class="p-col-12 p-md-4">
      <ul>
        <li>ABOUT MARVEL</li>
        <li>HELP/FAQS</li>
        <li>CARRERS</li>
        <li>INTERNSHIPS</li>
      </ul>
    </div>
    <div class="p-col-12 p-md-4">
      <ul>
        <li>ADVERTISING</li>
        <li>DISNEY+</li>
        <li>MARVELHQ.COM</li>
        <li>
          REDEEM <br />
          DIGITAL COMICS
        </li>
      </ul>
    </div>
    <div class="p-grid p-justify-center p-align-center p-flexboxgrid">
      <div class="p-col-12 p-md-6 p-lg-4">
        <img
          src="../../../../assets/images/marvel-insider.png"
          alt="insider-logo"
          class="marvel-insider-logo"
        />
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <img
          src="../../../../assets/images/marvel-unlimited.png"
          alt="unlimited-logo"
          class="marvel-unlimited-logo"
        />
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <ul class="marvel-list">
        <li class="marvel-item">
          MARVEL INSIDER
          <p class="marvel-description">Get Rewarded for Being a Marvel Fan</p>
        </li>
        <li class="marvel-item">
          MARVEL UNLIMITED
          <p class="marvel-description">Access Over 30,000+ Digital Comics</p>
        </li>
      </ul>
    </div>
    <div class="p-col-12 p-md-4">
      <p>FOLLOW MARVEL</p>
      <div class="footer-social-icons">
        <a href="#"><i class="pi pi-facebook"></i></a>
        <a href="#"><i class="pi pi-twitter"></i></a>
        <a href="#"><i class="pi pi-instagram"></i></a>
        <a href="#"><i class="pi pi-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="marvel-footer-legal">
    <div class="p-grid flex-row">
      <div class="p-col-12 p-md-6">
        <ul>
          <li>Terms of Use</li>
          <li>Privacy Policy</li>
          <li>Interest-Based Ads</li>
          <li>Interest-Based Ads</li>
          <li>EU Privacy Rights</li>
          <li>Cookie Policy</li>
          <li>License Agreement</li>
          <li>© 2023 MARVEL</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
