<footer class="marvel-footer">
  <div class="marvel-footer-inside">
    <div class="marvel-footer-links">
      <div class="links-marvel-items">
        <img
          src="../../../../assets/images/M-marvel.png"
          alt="marvel logo"
          class="logo-marvel-footer"
        />
      </div>
      <div class="links-marvel-items">
        <ul>
          <li>ABOUT MARVEL</li>
          <li>HELP/FAQS</li>
          <li>CAREERS</li>
          <li>INTERNSHIPS</li>
        </ul>
      </div>
      <div class="links-marvel-items">
        <ul>
          <li>ADVERTISING</li>
          <li>DISNEY+</li>
          <li>MARVELHQ.COM</li>
          <li>
            REDEEM <br />
            DIGITAL COMICS
          </li>
        </ul>
      </div>
    </div>
    <div class="marvel-other-links">
      <div class="marvel-insider">
        <div class="marvel-insider-logo">
          <img
            src="../../../../assets/images/marvel-insider.png"
            alt="insider-logo"
          />
        </div>
        <div class="insider-items">
          <p class="marvel-item">MARVEL INSIDER</p>
          <p class="marvel-description">Get Rewarded for Being a Marvel Fan</p>
        </div>
      </div>
      <div class="marvel-unlimited">
        <div class="marvel-unlimited-logo">
          <img
            src="../../../../assets/images/marvel-unlimited.png"
            alt="unlimited-logo"
          />
        </div>
        <div class="unlimited-items">
          <h4 class="marvel-item">MARVEL UNLIMITED</h4>
          <p class="marvel-description">Access Over 30,000+ Digital Comics</p>
        </div>
      </div>
    </div>
    <div class="marvel-follow">
      <h4 class="follow-title">FOLLOW MARVEL</h4>
      <ul class="footer-social-icons">
        <li>
          <i class="pi pi-facebook"></i>
        </li>
        <li>
          <i class="pi pi-twitter"></i>
        </li>
        <li>
          <i class="pi pi-instagram"></i>
        </li>
        <li>
          <i class="pi pi-youtube"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="marvel-footer-legal">
    <div class="legal-marvel">
      <ul>
        <li>Terms of Use</li>
        <li>Privacy Policy</li>
        <li>Interest-Based Ads</li>
        <li>Interest-Based Ads</li>
        <li>EU Privacy Rights</li>
        <li>Cookie Policy</li>
        <li>License Agreement</li>
        <li>© 2023 MARVEL</li>
      </ul>
    </div>
  </div>
</footer>
