<nav>
  <div class="header-container">
    <div *ngIf="!authService.isLoggedIn()" class="in">
      <img
        class="header-icon"
        src="../../../../assets/icons/sign.svg"
        alt="sign"
      />
      <a [routerLink]="['/login']" class="icon-linkedin-circled">SIGN IN</a>
    </div>
    <div
      *ngIf="authService.isLoggedIn()"
      (click)="authService.logout()"
      class="out"
    >
      <a class="log-out"> LOG OUT </a>
    </div>
    <div class="marvel-word">
      <a class="logo-marvel" routerLink="">
        <img
          class="marvel-logo"
          src="../../../../assets/icons/marvel.svg "
          alt="#"
        />
      </a>
    </div>
  </div>
  <div *ngIf="authService.isLoggedIn()" class="menu">
    <ul class="block">
      <li class="ch">
        <a routerLink="/characters">CHARACTERS</a>
      </li>
      <li class="cs"><a routerLink="/comics">COMICS</a></li>
    </ul>
  </div>
</nav>
