.header-container {
  background-color: #252525;
  display: flex;
  flex-direction: row;
  height: 10vh;
  border-bottom: 1px solid grey;
}

.header-icon{
  padding: 0 5px;
}
.in {
  width: 20vw;
  height: 10vh;
  background-color: #252525;
  padding: 10px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  transition: 0.8s;
  margin: 0 20px;
}
.out {
  width: 20%;
  height: 10vh;
  background-color: #252525;
  padding: 10px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  transition: 0.8s;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
  padding: .5em;
  cursor: pointer;
}
.in:hover {
  background-color: darkgray;
  transform: scale(1.2);
}

.out:hover {
  background-color: darkgray;
  transform: scale(1.2);
}
.marvel-word{
  margin:0 auto;
  background-color: #252525;

}
.marvel-logo{
  display: flex;
  justify-content: flex-start;
}


.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  padding: 0 1em;
  background-color: #202020;
}

.block {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}
.block li {
  display: inline-block;
  transition: 0.5s;
  padding: 0 1em;
}
.block a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.cs:hover {
  transform: scale(1.2);
  padding: 0 1em;
}
.ch:hover {
  transform: scale(1.2);
  padding: 0 1em;
}

.navbar-custom{
  padding: 0;
}

.container-fluid{
  padding: 0;
  background-color: #252525;
}

#navbarSupportedContent{
  padding: 0;
  background-color: #252525;
}


.navbar-toggler{
  border: 2px solid #e12835;
};



